
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@400;600&family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

blockquote, q {
  font-family: 'Merriweather', serif;
}

.btn {
  font-family: 'Pacifico', cursive;
}
.section_heading{
    font-weight: bolder;
    background: radial-gradient(circle farthest-side at left center, #ea8d8d 0%, #D508F7 41%, #8cdff9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;

}
.sub_heading{
    margin-top: 5px;
    letter-spacing: 2px;
}
.heading_desc{
    margin-top: 60px;
    margin-bottom:50px;
    letter-spacing: 0.5px;
    line-height: 30px;
}

/* ------------------------------------------------------------------------ */

/* navbar starts from here*/
.navbarScroll.navbarDark {
    backdrop-filter: blur(10px) saturate(210%); 
    -webkit-backdrop-filter: blur(10px) saturate(210%); 
    background-color: rgba(203, 203, 219, 0.544); 
    border-radius:  0px 0px 8px 8px; 
    border: 1px solid rgba(209, 213, 219, 0.18); 
}
.navbar{
    width: 100%;
    height: 100px;
}
.navbar-brand{
    background-image: url(images/logo.png);
    width: 160px;
    height: 110px;
    background-size: contain;
    background-repeat: no-repeat;
}
/* navbar ends here */

/* ----------------------------------------------------------------------------------- */

/* hero background section starts here*/
.bgimage {
    height:100vh;
   background: url('images/bg.jpg');
    background-size:cover;
    position:relative;
}
.hero_title{
    font-size: 4.5rem;
    font-weight: bolder;
    background: radial-gradient(circle farthest-side at left center, #ea8d8d 0%, #D508F7 41%, #8cdff9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero_title span{
    font-size: 4.5rem;
    font-weight: bold;
    /* background:  */
    background: radial-gradient(circle farthest-side at left center, #ea8d8d 0%, #D508F7 41%, #8cdff9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
    }
.hero_sub_title{
    font-size: 2rem;
     font-weight: bold;
     margin-top: 30px;
}
.title_quote{
    margin-top: 15px;
}
.expo_btn{
    margin-top: 40px;
    /* border:1px solid rgba(209, 213, 219, 0.18);  */
    padding: 10px;
}
.hero_desc {
    font-size: 0.9rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero_btn{
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.field {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 300px;
    margin-top: 60px;
}
.mouse {
	width: 20px;
	height: 40px;
	border: 2px solid #ffffff;
	border-radius: 60px;
	position: relative;
	&::before {
		content: '';
		width: 10px;
		height: 10px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #ffffff;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 1s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 20px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 20px;
	}
}
/* hero background section ends here */

/* -------------------------------------------------------------------------------------- */

/* about section start */
    #about{
        background-image: linear-gradient(90deg, rgb(255,255,255) 0%,transparent 70%),
        repeating-linear-gradient(45deg, rgba(114, 114, 114,0.08) 0px,
        rgba(114, 114, 114,0.08) 1px,transparent 1px, transparent 16px),
        repeating-linear-gradient(90deg, rgba(114, 114, 114,0.08) 0px, 
        rgba(114, 114, 114,0.08) 1px,transparent 1px, transparent 16px),
        repeating-linear-gradient(135deg, rgba(114, 114, 114,0.08) 0px, 
        rgba(114, 114, 114,0.08) 1px,transparent 1px, transparent 16px),
        linear-gradient(0deg, rgb(255,255,255),rgb(255,255,255));

        /* background-image: linear-gradient(90deg, rgba(165, 165, 165, 0.03) 0%, rgba(165, 165, 165, 0.03) 8%,rgba(235, 235, 235, 0.03) 8%, rgba(235, 235, 235, 0.03) 9%,rgba(7, 7, 7, 0.03) 9%, rgba(7, 7, 7, 0.03) 14%,rgba(212, 212, 212, 0.03) 14%, rgba(212, 212, 212, 0.03) 17%,rgba(219, 219, 219, 0.03) 17%, rgba(219, 219, 219, 0.03) 95%,rgba(86, 86, 86, 0.03) 95%, rgba(86, 86, 86, 0.03) 100%),linear-gradient(67.5deg, rgba(80, 80, 80, 0.03) 0%, rgba(80, 80, 80, 0.03) 11%,rgba(138, 138, 138, 0.03) 11%, rgba(138, 138, 138, 0.03) 17%,rgba(122, 122, 122, 0.03) 17%, rgba(122, 122, 122, 0.03) 24%,rgba(166, 166, 166, 0.03) 24%, rgba(166, 166, 166, 0.03) 27%,rgba(245, 245, 245, 0.03) 27%, rgba(245, 245, 245, 0.03) 89%,rgba(88, 88, 88, 0.03) 89%, rgba(88, 88, 88, 0.03) 100%),linear-gradient(67.5deg, rgba(244, 244, 244, 0.03) 0%, rgba(244, 244, 244, 0.03) 4%,rgba(16, 16, 16, 0.03) 4%, rgba(16, 16, 16, 0.03) 10%,rgba(157, 157, 157, 0.03) 10%, rgba(157, 157, 157, 0.03) 20%,rgba(212, 212, 212, 0.03) 20%, rgba(212, 212, 212, 0.03) 83%,rgba(5, 5, 5, 0.03) 83%, rgba(5, 5, 5, 0.03) 84%,rgba(237, 237, 237, 0.03) 84%, rgba(237, 237, 237, 0.03) 100%),linear-gradient(90deg, #ffffff,#ffffff); */
        
        padding-top: 70px;
        padding-bottom: 30px;
    }
    .imageAboutPage {
        width: 100%;
    }
    .about_img{
        margin-top: 60px;
    }
    .about_content{

    }
    .about_content p{
        text-align: justify;
        text-indent: 70px;
    }
/* about section end */

/* ------------------------------------------------------------------------------------------ */

/* skills section start */
.skills{
    margin-top: 70px;
    margin-bottom: 30px;
}
.skills_icons{
    /* margin-top: 40px; */
}
.skills_icons img{
    margin:20px 10px;
}
/* skills section end */
 
/* ---------------------------------------------------------------------------------------------------------- */
/* projects section start here */

#portfolio{
    margin-top:70px;
    margin-bottom: 0px;
    padding: 50px 0px 100px 0px;
    background-image: repeating-linear-gradient(90deg, rgba(222,222,222, 0.21) 0px, rgba(222,222,222, 0.21) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, rgba(222,222,222, 0.21) 0px, rgba(222,222,222, 0.21) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, rgba(222,222,222, 0.21) 0px, rgba(222,222,222, 0.21) 1px,transparent 1px, transparent 15px),repeating-linear-gradient(90deg, rgba(222,222,222, 0.21) 0px, rgba(222,222,222, 0.21) 1px,transparent 1px, transparent 15px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}
/* projects section ends here */
/* ------------------------------------------------------------------------------------------- */

/* service section start */
#services{
    margin-top: 30px;
    margin-bottom: 30px;
    
    }
.servicesText.card {
    height: auto;
    cursor: pointer;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
            radial-gradient(at 100% 100%, #d400fc 27%, transparent 79%),
            radial-gradient(at 100% 0%, #00fcff 0%, transparent 70%),
            radial-gradient(at 0% 0%, #ec00ff 19%, transparent 92%),
            #00fff3;
    border-radius: 4px;
    padding: 9px;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    /* background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
    radial-gradient(at 100% 100%, #d400fc 27%, transparent 79%),
    radial-gradient(at 100% 0%, #00fcff 0%, transparent 70%),
    radial-gradient(at 0% 0%, #ec00ff 19%, transparent 92%),
    #00fff3;
    border-radius: 8px;
    padding: 9px; */
    /* border: 1px solid #008000; */
}
.servicesText p{
    text-align: justify;
}
.servicesText:hover {
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
    radial-gradient(at 100% 100%, #def400 0%, transparent 70%),
    radial-gradient(at 100% 0%, rgba(126,0,255,0.6) 0%, transparent 70%),
    radial-gradient(at 0% 0%, #00ffdc 0%, transparent 70%),
    #56ff00;
    border-radius: 4px;
    padding: 9px;
}
/* service section end */

/* -------------------------------------------------------------------------------------------------------------------------------------------- */

/* contact us section start */
    #contact {
        margin-top: 70px;
        background-image: radial-gradient(circle at 9% 69%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 14% 61%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 78% 30%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 95% 90%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 38% 74%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 66% 53%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 81% 67%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 32% 0%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 38% 61%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 42% 65%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 71% 86%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 91% 26%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 76% 89%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 100% 6%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 45% 96%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 81% 62%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 53% 28%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 62% 88%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 45% 56%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 36% 61%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 49% 36%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),linear-gradient(45deg, rgb(220,254,255),rgba(216,204,255, 0.57));
        padding:100px;
    }
/* contact us section end */

/* ---------------------------------------------------------------------------------------------------------------- */

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */

/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}